<!doctype html>
<html lang="en">
<%- include('links.ejs') %> 
<body>
<%- include('header.ejs') %>

<div class="container mt-3" >
    <h1>Welcome to MyIdea</h1>
    <h6>Add your ideas here!!</h6>
</div>

</body>
</html>
